<!--
<ng-container *ngIf="simulating === true">
  <div class="col-12">
    <button class="btn-lg control" [disabled]="true">Simulating...</button>
  </div>
</ng-container>
-->

<!-- TODO: Make these controls prettier and more friendly. -->
<div id="stats" class="row">
<div class="col-12">
  <p>Generation: {{generationCounter}}</p>
  <p>Quantity Creatures: {{creatures.length}}</p>
  <p>Generation Type: {{generationType}}</p>
  <p>Control Type: {{controlType}}</p>
  <p>Manual Step: {{manualStep}}</p>
<p>Speed: {{continuousSpeed !== "Not Set" ? continuousSpeed : automaticSpeed}}</p>
</div>
</div>

<div class="row controls">
  <div class="col-12">
    <div id="evolve-controls-card" class="card">
      <div class="card-header">Evolve Controls</div>
      <div class="card-body">
        <div class="row">
          <ng-container *ngIf="!awaitingResponse">
            <ng-container *ngIf="!creaturesCreated">
              <div class="col-12">
                <button class="btn-lg btn-success control" (click)="generateInitialCreatures();">Generate Initial Creatures</button>
              </div>
            </ng-container>
            <ng-container *ngIf="creaturesCreated">
              <ng-container *ngIf="generationType === 'Not Set'">
                <div class="col-6">
                  <button class="btn-lg btn-primary control" (click)="setGenerationTypeToSingle();">Single</button>
                </div>
                <div class="col-6">
                  <button class="btn-lg btn-primary control" (click)="setGenerationTypeToContinuous();">Continuous</button>
                </div>
              </ng-container>
              <ng-container *ngIf="generationType === 'Single'">
                <ng-container *ngIf="controlType === 'Not Set'">
                  <div class="col-4">
                    <button class="btn-lg btn-info control" (click)="setControlTypeToManual();">Manual</button>
                  </div>
                  <div class="col-4">
                    <button class="btn-lg btn-info control" (click)="setControlTypeToFull();">Full</button>
                  </div>
                  <div class="col-4">
                    <button class="btn-lg btn-info control" (click)="setControlTypeToAutomatic();">Automatic</button>
                  </div>
                </ng-container>
                <ng-container *ngIf="controlType === 'Manual'">
                  <ng-container *ngIf="manualStep === 'Simulating'">
                    <div class="col-4">
                      <button class="btn-lg btn-primary control" (click)="simulateNextCreature();">Simulate Next Creature</button>
                    </div>
                    <div class="col-4">
                      <button class="btn-lg btn-primary control" (click)="simulateAllRemainingCreatures();">Simulate All Remaining Creatures</button>
                    </div>
                    <div class="col-4">
                      <button class="btn-lg btn-primary control" (click)="simulateAllRemainingCreaturesInstantly();">Simulate All Remaining Creatures Instantly</button>
                    </div>
                  </ng-container>
                  <ng-container *ngIf="manualStep === 'Naturally Selecting'">
                    <div class="col-4">
                      <button class="btn-lg btn-warning control" (click)="naturallySelectNextCreature();">Naturally Select Next Creature</button>
                    </div>
                    <div class="col-4">
                      <button class="btn-lg btn-warning control" (click)="naturallySelectAllRemainingCreatures();">Naturally Select All Remaining Creatures</button>
                    </div>
                    <div class="col-4">
                      <button class="btn-lg btn-warning control" (click)="naturallySelectAllRemainingCreaturesInstantly();">Naturally Select All Remaining Creatures Instantly</button>
                    </div>
                  </ng-container>
                  <ng-container *ngIf="manualStep === 'Killing'">
                    <div class="col-4">
                      <button class="btn-lg btn-danger control" (click)="killNextFailedCreature();">Kill Next Failed Creature</button>
                    </div>
                    <div class="col-4">
                      <button class="btn-lg btn-danger control" (click)="killAllRemainingFailedCreatures();">Kill All Remaining Failed Creatures</button>
                    </div>
                    <div class="col-4">
                      <button class="btn-lg btn-danger control" (click)="killAllRemainingFailedCreaturesInstantly();">Kill All Remaining Failed Creatures Instantly</button>
                    </div>
                  </ng-container>
                  <ng-container *ngIf="manualStep === 'Reproducing'">
                    <div class="col-4">
                      <button class="btn-lg btn-success control" (click)="reproduceNextSuccessfulCreature();">Reproduce Next Successful Creature</button>
                    </div>
                    <div class="col-4">
                      <button class="btn-lg btn-success control" (click)="reproduceAllRemainingSuccessfulCreatures();">Reproduce All Remaining Successful Creatures</button>
                    </div>
                    <div class="col-4">
                      <button class="btn-lg btn-success control" (click)="reproduceAllRemainingSuccessfulCreaturesInstantly();">Reproduce All Remaining Successful Creatures Instantly</button>
                    </div>
                  </ng-container>
                </ng-container>
                <ng-container *ngIf="controlType === 'Full'">
                  <ng-container *ngIf="manualStep === 'Simulating'">
                    <div class="col-12">
                      <button class="btn-lg btn-primary control" (click)="simulateAllCreatures();">Simulate All Creatures</button>
                    </div>
                  </ng-container>
                  <ng-container *ngIf="manualStep === 'Naturally Selecting'">
                    <div class="col-12">
                      <button class="btn-lg btn-warning control" (click)="naturallySelectAllCreatures();">Naturally Select All Creatures</button>
                    </div>
                  </ng-container>
                  <ng-container *ngIf="manualStep === 'Killing'">
                    <div class="col-12">
                      <button class="btn-lg btn-danger control" (click)="killAllFailedCreatures();">Kill All Failed Creatures</button>
                    </div>
                  </ng-container>
                  <ng-container *ngIf="manualStep === 'Reproducing'">
                    <div class="col-12">
                      <button class="btn-lg btn-success control" (click)="reproduceAllSuccessfulCreatures();">Reproduce All Successful Creatures</button>
                    </div>
                  </ng-container>
                </ng-container>
                <ng-container *ngIf="controlType === 'Automatic'">
                  <ng-container *ngIf="automaticSpeed === 'Not Set'">
                    <div class="col-6">
                      <button class="btn-lg btn-success control" (click)="setAutomaticSpeedToRealTime();">Real Time</button>
                    </div>
                    <div class="col-6">
                      <button class="btn-lg btn-success control" (click)="setAutomaticSpeedToInstant();">Instant</button>
                    </div>
                  </ng-container>
                  <ng-container *ngIf="automaticSpeed === 'Real Time'">
                    <!-- TODO: What to do here? -->
                  </ng-container>
                  <ng-container *ngIf="automaticSpeed === 'Instant'">
                    <!-- TODO: What to do here? -->
                  </ng-container>
                </ng-container>
                <ng-container *ngIf="manualStep === 'Advancing Generation'">
                  <div class="col-12">
                    <button class="btn-lg btn-info control" (click)="advanceGeneration();">Advance Generation</button>
                  </div>
                </ng-container>
              </ng-container>

              <ng-container *ngIf="generationType === 'Continuous'">
                <ng-container *ngIf="continuousSpeed === 'Not Set'">
                  <div class="col-6">
                    <button class="btn-lg btn-success control" (click)="setContinuousSpeedToRealTime();">Real Time</button>
                  </div>
                  <div class="col-6">
                    <button class="btn-lg btn-success control" (click)="setContinuousSpeedToInstant();">Instant</button>
                  </div>
                </ng-container>
                <ng-container *ngIf="continuousSpeed !== 'Not Set'">
                  <!-- Should not be possible to get here. -->
                </ng-container>
              </ng-container>
            </ng-container>
          </ng-container>
          <ng-container *ngIf="awaitingResponse">
            <ng-container *ngIf="generationType === 'Single'">
              <div class="col-12 center-align">
                <div class="loader"></div>
              </div>
            </ng-container>
            <ng-container *ngIf="generationType === 'Continuous'">
              <ng-container *ngIf="!continuousGenerationStopped">
                <button class="btn-lg btn-danger control" (click)="stopContinuousGeneration();">Stop Continuous Generation</button>
              </ng-container>
              <ng-container *ngIf="continuousGenerationStopped">
                <button class="btn-lg btn-danger control" [disabled]="true">Stopping Continuous Generation (At the end of the current generation)...</button>
              </ng-container>
            </ng-container>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-container *ngFor="let rowOfCreatures of gridifiedCreatures;">
<div class="row justify-content-center">
<ng-container *ngFor="let creature of rowOfCreatures;">
<div class="col-3">
<div class="creature-info" [style.color]="creature.color" [style.borderColor]="creature.borderColor" [style.backgroundColor]="creature.backgroundColor">
<p class="center-align name">{{creature.name}}</p>
<p>Speed:<span class="pull-right">{{creature.speed.toFixed(3)}}</span></p>
<p>Stamina:<span class="pull-right">{{creature.stamina.toFixed(3)}}</span></p>
<p>Health:<span class="pull-right">{{creature.health.toFixed(3)}}</span></p>
<p>Greed:<span class="pull-right">{{creature.greed.toFixed(3)}}</span></p>
<p>CoM:<span class="pull-right">{{creature.chanceofmutation.toFixed(3)}}</span></p>
<p>Fitness Value:
<span class="pull-right">
  <ng-container *ngIf="!creature.simulatedthisgeneration">N/A</ng-container>
<ng-container *ngIf="creature.simulatedthisgeneration">{{creature.fitnessvalue.toFixed(3)}}</ng-container>
</span>
</p>
</div>
</div>
</ng-container>
</div>
</ng-container>
