#stats {
  margin-top: 15px;
}

#evolve-controls-card {
  margin-bottom: 15px;
}

.controls {
  margin-top: 15px;
}

.control {
  width: 100%;
}

.pull-right {
  float: right;
}

.center-align {
  text-align: center;
}

.creature-info {
  width: 100%;
  border: 3px solid;
  border-radius: 10px;
  margin-bottom: 15px;
}

div.col-2 {
  padding-left: 10px;
  padding-right: 10px;
}

.name {
  font-weight: bolder;
}
